:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-playfair: 'Playfair Display SC', serif;

    --font-12px: 0.75rem;
    --font-14px: 0.875rem;
    --font-18px: 1.125rem;
    --font-16px: 1rem;
    --font-24px: 1.5rem;
    --font-32px: 2rem;
    --font-48px: 3rem;

    --nav-height: 40px;

    --color-white: 255, 255, 255;
    --color-grey: 216, 216, 216;
    --color-blue: 97, 116, 174;
    --color-accent: rgb(22, 112, 148);
    --text-dark: #333333;
    
    --bold: 700;
    --normal: 400;
}

html {
    font-size: 16px;
}

body {
    margin: 0px;
    background-color: rgb(var(--color-grey));
    width: 100%;
}

/* Header */
header {
   background-color: rgba(var(--color-white), 0.7);
   color: var(--text-dark);
}

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-playfair);
    margin: 0px 40px;
}

h1 {
    font-size: var(--font-24px);
    color: var(--color-accent);
    margin: 0px;
}

#nav-items {
    display: flex;
    font-size: var(--font-14px);
    margin: 0px;
}

#nav-items li {
    list-style: none;
    padding-left: 32px;
}

#nav-items li a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#nav-items li a:hover {
    font-weight: var(--bold);
    color: var(--color-accent);
}

#nav-items li a::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: var(--bold);
} 


/* Main */

main  {
    font-family: var(--font-roboto);
    color: var(--text-dark);
}

/* Hero */
#hero-section {
    height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
}

#hero-section::before {
    content: "";
    background-image: url('../Assets/hero_image.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
    opacity: 0.4;
}

#hero-section h2{
    font-size: var(--font-48px);
    width: 50%;
    margin: 0px 0px 300px 40px;
    font-weight: var(--normal);
}

#user-name {
    color: var(--color-accent);
    opacity: 0.9;
}


/* Destination section */

.place-container { 
    height: 100vh; 
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100vh;
    align-items: center;
}

.left {
    grid-column: 1 / span 1;
    grid-row: 1;
    margin-left: 40px;
}

.right {
    grid-column: 2 / span 1;
    grid-row: 1;
    margin-right: 40px;
    text-align: right;
}

.place-name {
    font-size: var(--font-48px);
    color: var(--color-accent);
}

.place-description {
    font-size: var(--font-18px);
}

.place-facts {
    font-size: var(--font-14px);
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    text-align: center;
}

.place-facts p {
    margin: 0px;
}

.place-image {
    grid-column: 1 / span 2;
    grid-row: 1;
    overflow: hidden;
    z-index: -10;;
    margin: 0px;
}

.place-image img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.left-gradient {
    position: relative;
}

.left-gradient::after {
    background: linear-gradient(to right, rgb(var(--color-grey)), rgba(var(--color-grey), 0.8) 45%, transparent);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

.right-gradient {
    position: relative;
}

.right-gradient::after {
    background: linear-gradient(to left, rgb(var(--color-grey)), rgba(var(--color-grey), 0.8) 45%, transparent);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}


/* Back to top button */

#back-to-top {
    position: fixed;
    z-index: 10;
    left: 95vw;
    bottom: 40px;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: rgb(var(--color-white));
}

#back-to-top:active {
    color: black;
}




/* Footer */

footer {
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 10;
    bottom: 2px;
    position: relative;
    background: rgba(var(--color-white), 0.7);
    padding: 0px 40px;
}

footer p {
    margin: 0;
    color: var(--text-dark);
}


/* Modal */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgb(var(--color-grey));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    font-family: var(--font-roboto);
}

.fixed {
    position: fixed;
}

.modal-contents {
    width: 800px;
    height: min-content;
    background-color: rgb(var(--color-white));
    margin-top: 100px;
    border-radius: 8px;
    padding: 40px;
}

.modal h2 {
    font-weight: var(--normal);
    font-size: var(--font-32px);
    text-align: center;
}

.text {
    text-align: center;
    font-size: var(--font-18px);
}

.modal-contents select {
    height: 40px;
    width: 220px;
    border-radius: 4px;
    border: 1px solid rgb(var(--color-grey));
    font-size: 16px;
    margin-top: 8px;
}

#name {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(var(--color-grey));
    font-size: 16px;
    margin-top: 8px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.dots {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 22px
}

.dot {
    width: 20px;
    height: 20px;
    background-color: rgb(var(--color-white));
    border-radius: 50%;
    display: inline-block;
    border: 2px solid rgb(var(--color-blue));
}

.active {
    background-color: rgb(var(--color-blue));
}

.modal form {
    margin-top: 40px;
    height: 55%;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputs div {
    margin-bottom: 20px;
}


.buttons {
    display: flex;
    margin-top: 8px;
}

.continue {
    margin-left: auto;
}

.back {
    margin-right: auto;
}

.button {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgba(var(--color-blue), 0.9);
    color: rgb(var(--color-white));
    font-size: var(--font-14px);
}

.button:hover {
    background-color: rgb(var(--color-blue));
}

.button-secondary {   
    border: none;
    max-width: max-content;
    background-color: transparent;
    cursor: pointer;   
    color: rgba(var(--color-blue), 0.7);
    font-size: var(--font-14px);
    display: inline;
    border: 1px solid rgba(var(--color-blue), 0.7);
    border-radius: 8px;
    padding: 12px 16px
}

.button-secondary:hover {
    color: rgb(var(--color-blue));
}

.color-btn {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    height: 40px;
    cursor: pointer;
    width: 80px;
    font-size: var(--font-14px);
}

.color-btn:hover {
    opacity: 0.8;
}

.color-btn:active {
    opacity: 1;
}

.red {
    background-color: #e46363;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}
.blue {
    background-color: #6383e4;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}
.green {
    background-color: #0dc82e;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}
.purple {
    background-color: #9463e4;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}
.grey {
    background-color: #5e6477;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}
.pink {
    background-color: #ca63e4;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}
.orange {
    background-color: #e49d63;
    color:rgb(var(--text-dark));
    opacity: 0.6;
}

.clicked {
    opacity: 1;
    font-weight: var(--bold);
}
.clicked:hover {
    opacity: 1;
}

.error-message {
    font-size: var(--font-12px);
    color:rgb(228, 99, 99);
    text-align: left;
    margin: 0px;
}

.d-none {
    display: none;
}